*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
###

-A LOG-INPUT -j LOG --log-prefix "IPTables-reject-INPUT: "
-A LOG-FORWARD -j LOG --log-prefix "IPTables-reject-FORWARD: "
###

-A INPUT -i lo -j ACCEPT
-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A INPUT -p icmp -m limit --limit 2/sec -j ACCEPT
-A INPUT -d 172.17.31.14 -p tcp -m tcp --dport 22 -j ACCEPT -m comment --comment "Access to the SSH interface only on the DMZ interface"
-A INPUT -m limit --limit 2/sec -j LOG-INPUT
-A INPUT -m limit --limit 2/sec -j LOG-INPUT
-A INPUT -j REJECT --reject-with icmp-port-unreachable
###

-A FORWARD -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A FORWARD -i eth1 -o eth0 -s 172.17.31.0/28 -j TO-RED
-A FORWARD -i eth2 -o eth0 -s 192.168.9.0/24 -j TO-RED
-A FORWARD -i tun0 -o eth0 -s 10.238.23.0/28 -j TO-RED

-A FORWARD -o eth1 -d 172.17.31.0/28 -j TO-ORANGE
-A FORWARD -o eth2 -d 192.168.9.0/24 -j TO-GREEN
#-A FORWARD -o tun0 -d 10.238.23.0/28 -j TO-BLUE

-A FORWARD -i eth1 -s 172.17.31.0/28 -j FROM-ORANGE
-A FORWARD -i eth2 -s 192.168.9.0/24 -j FROM-GREEN
-A FORWARD -i tun0 -s 10.238.23.0/28 -j FROM-BLUE

-A FORWARD -i tun0 -s 10.238.23.0/28 -o eth2 -d 192.168.9.0/24 -j BLUE-TO-GREEN
-A FORWARD -i tun0 -s 10.238.23.0/28 -o eth1 -d 172.17.31.0/28 -j BLUE-TO-ORANGE
-A FORWARD -i eth2 -s 192.168.9.0/24 -o eth1 -d 172.17.31.0/28 -j GREEN-TO-ORANGE

-A FORWARD -i eth1 -o eth1 -j ACCEPT
-A FORWARD -i eth2 -o eth2 -j ACCEPT
-A FORWARD -i tun0 -o tun0 -j ACCEPT

-A FORWARD -m limit --limit 2/sec -j LOG-FORWARD
-A FORWARD -j REJECT --reject-with icmp-port-unreachable
###

-A BLUE-TO-GREEN -d 192.168.9.0/29 -j ACCEPT
-A BLUE-TO-GREEN -m limit --limit 2/sec -j LOG-BLUE-TO-GREEN
-A BLUE-TO-GREEN -j REJECT --reject-with icmp-port-unreachable

-A BLUE-TO-ORANGE -j ACCEPT

-A GREEN-TO-ORANGE -j ACCEPT

-A GREEN-TO-BLUE -m limit --limit 2/sec -j LOG-GREEN-TO-BLUE
-A GREEN-TO-BLUE -j REJECT --reject-with icmp-port-unreachable

-A TO-RED -p icmp -m icmp --icmp-type 8  -j ACCEPT
-A TO-RED -p tcp -m multiport --dports 25,80,110,144,443,465,993 -j ACCEPT
-A TO-RED -p udp -m multiport --dports 53,1194 -j ACCEPT

COMMIT
###

*nat
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]

-A PREROUTING  -d 21.32.181.1 -p udp --dport 53 -j DNAT --to-destination 172.17.31.1:53
-A PREROUTING  -d 21.32.181.1 -p tcp --dport 53 -j DNAT --to-destination 172.17.31.1:53

-A PREROUTING  -d 21.32.181.2 -p udp --dport 53 -j DNAT --to-destination 172.17.31.1:53
-A PREROUTING  -d 21.32.181.2 -p tcp --dport 53 -j DNAT --to-destination 172.17.31.1:53

-A PREROUTING  -d 21.32.181.3 -p tcp --dport 80 -j DNAT --to-destination 172.17.31.2:80
-A PREROUTING  -d 21.32.181.3 -p tcp --dport 443 -j DNAT --to-destination 172.17.31.3:443

-A POSTROUTING -o eth0 -j MASQUERADE

COMMIT
###

*mangle
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
COMMIT
